* {
    margin: 0px;
    padding: 0px;
}


body {
    padding: 0px;
    width: 80%;
    margin: auto;
    background: url(./images/home_background_img.jpg) no-repeat;
    background-size: cover;
    background-position: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: oblique;
}